<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation-emails/2.2.1/foundation-emails.min.css" rel="stylesheet">
  </head>
  <body>
      <span class="preheader"></span>
      <!-- Info Banner For Announcements or Links -->
      <!-- <a href="https://zurb.com/university/foundation-intro" class="docs-banner course-banner">
        <div class="info">
          <h5 class=""><strong>To master everything new in 6.4, along with the rest of Foundation register for our Aug 8th Webinar Class &rsaquo;</strong></h5>
        </div>
      </a> -->
      
      <!-- <a href="https://zurb.com/wired" id="notice">
        <div class="info hide-for-small">
          <div id="clockdiv" class="countdown">
              <span class="timer-day days"></span>
              <span class="timer-colon">:</span>
            <span class="timer-hour hours"></span>
            <span class="timer-colon">:</span>
            <span class="timer-hour minutes"></span>
            <span class="timer-colon">:</span>
            <span class="timer-seconds seconds"></span>
          </div>
        </div>
      </a> -->

  <table class="body">
    <tbody>
      <tr>
        <td class="center" align="center" valign="top">
          <center data-parsed="">
            <style type="text/css" align="center" class="float-center">
              body,
              html,
              .body {
                background: #f3f3f3 !important;
              }
            </style>
            <!-- move the above styles into your custom stylesheet -->

            <table class="spacer float-center"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&nbsp;</td></tr></tbody></table>

            <table align="center" class="container float-center"><tbody><tr><td>

              <table class="spacer"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&nbsp;</td></tr></tbody></table>

              <table class="row"><tbody><tr>
                <th class="small-12 large-12 columns first last"><table><tbody><tr><th>
                  <h1>Thanks for your order.</h1>
                  <p>Thanks for shopping with us! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad earum ducimus, non, eveniet neque dolores voluptas architecto sed, voluptatibus aut dolorem odio. Cupiditate a recusandae, illum cum voluptatum modi nostrum.</p>

                  <table class="spacer"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&nbsp;</td></tr></tbody></table>

                  <table class="callout"><tbody><tr><th class="callout-inner secondary">
                    <table class="row"><tbody><tr>
                      <th class="small-12 large-6 columns first"><table><tbody><tr><th>
                        <p>
                          <strong>Payment Method</strong><br>
                          Dubloons
                        </p>
                        <p>
                          <strong>Email Address</strong><br>
                          thecapn@pirates.org
                        </p>
                        <p>
                          <strong>Order ID</strong><br>
                          239235983749636
                        </p>
                      </th></tr></tbody></table></th>
                      <th class="small-12 large-6 columns last"><table><tbody><tr><th>
                        <p>
                          <strong>Shipping Method</strong><br>
                          Boat (1–2 weeks)<br>
                          <strong>Shipping Address</strong><br>
                          Captain Price<br>
                          123 Maple Rd<br>
                          Campbell, CA 95112
                        </p>
                      </th></tr></tbody></table></th>
                    </tr></tbody></table>
                  </th><th class="expander"></th></tr></tbody></table>

                  <h4>Order Details</h4>

                  <table>
                    <tbody><tr><th>Item</th><th>#</th><th>Price</th></tr>
                    <tr><td>Ship's Cannon</td><td>2</td><td>$100</td></tr>
                    <tr><td>Ship's Cannon</td><td>2</td><td>$100</td></tr>
                    <tr><td>Ship's Cannon</td><td>2</td><td>$100</td></tr>
                    <tr>
                      <td colspan="2"><b>Subtotal:</b></td>
                      <td>$600</td>
                    </tr>
                  </tbody></table>

                  <hr>

                  <h4>What's Next?</h4>

                  <p>Our carrier raven will prepare your order for delivery. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi necessitatibus itaque debitis laudantium doloribus quasi nostrum distinctio suscipit, magni soluta eius animi voluptatem qui velit eligendi quam praesentium provident culpa?</p>
                </th></tr></tbody></table></th>
              </tr></tbody></table>
              <table class="row footer text-center"><tbody><tr>
                <th class="small-12 large-3 columns first"><table><tbody><tr><th>
                  <img src="https://placehold.it/170x30" alt="">
                </th></tr></tbody></table></th>
                <th class="small-12 large-3 columns"><table><tbody><tr><th>
                  <p>
                    Call us at 800.555.1923<br>
                    Email us at support@discount.boat
                  </p>
                </th></tr></tbody></table></th>
                <th class="small-12 large-3 columns last"><table><tbody><tr><th>
                  <p>
                    123 Maple Rd<br>
                    Campbell, CA 95112
                  </p>
                </th></tr></tbody></table></th>
              </tr></tbody></table>
            </td></tr></tbody></table>

          </center>
        </td>
      </tr>
    </tbody>
  </table>

      <!-- prevent Gmail on iOS font size manipulation -->
      <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
    

  </body>
</html>