<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href="assets/email.scss" rel="stylesheet">
  </head>
  <body>
    <h1>Test, <%= @user.name %></h1>
  </body>
</html>