<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>@import "foundation-emails";</style>
  </head>
  <body>
    <h1>Test, <%= @user.name %></h1>
  </body>
</html>